/* ==============================
   TYPE
   ============================== */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Hind:400,600|Roboto+Mono) all;

$type-header: 'Roboto', 'Hind', Arial, sans-serif;
$type-body: 'Hind', Arial, sans-serif;
$type-serif: 'Charter', serif;
$type-mono: 'Roboto Mono', Courier, monospace;

html {
    font-family: $type-body;
    font-weight: normal;
    font-size: 16px;
    color: #000;
}

h1 {
    font-family: $type-header;
    font-weight: 700;
    font-size: 1.875rem;
    margin-bottom: 2rem;
    max-width: 800px;
    color: #000;
}

h2 {
    font-family: $type-header;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #000;
    max-width: 800px;
}

h3 {
    font-family: $type-header;
    font-weight: 700;
    font-size: 1.3rem;
    color: #000;
    margin-bottom: 1.3rem;
}

b {
    font-weight: 600;
}

i {
    font-style: italic;
}
